!!! 5
html(lang="en")
  head
    meta(charset="utf-8")
    title Upload Form
    link(rel="stylesheet", href="/css/bootstrap.min.css", type="text/css")
    script(src='/js/jquery-1.7.1.min.js')
    script(src='/js/uploadform.js')
  body
    .container
      != body
